@import "reset";
@import "mixins";
@import "variables";

html {
  height: 100%;
}

body {
    height: 100%;
    background: linear-gradient($lightBrown 50%, $white 80%);
}

li {
  &:hover {
    cursor: default;
  }
}

#container {
  @include clearFix(); //fixed my resizing issue -> not sure why?
  position: relative;
  background: $white;
  margin: 0 auto;
  padding-bottom: 10px;
  top: 35%;
  width: 50%;
  min-height: 20%;
  box-shadow: 1px 10px 20px rgba(0,0,0,0.19);
}

header {
  margin-top: 10px;
  padding: 15px;
  li {
    text-align: center;
    display: inline-block;
    float: left;
    @include equalHorizontalSpacing(4);
  }
}

article {
  li {
    font-size: $dataFontSize;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    display: inline-block;
    @include equalHorizontalSpacing(4);
  }
}

.stock {
  margin-bottom: 3%;
}

.stock__heading {
  font-weight: bold;
  border-bottom: 1px solid $darkOrange;
  border-bottom-width: 1px;
  font-size: 24px;
}

.stock_info {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    display: block;
    padding-left: 20px;
    margin-bottom: 10px;
    width: 50%;
  }
}

.stock--positive {
  color: lighten(green, 5);
}

.stock--negative {
  color: lighten(red, 5);
}

// ANIMATION


// animate our drop down drop down info
// @keyframes example {
//     from {top: -20px}
//     to {top: 0}
// }

// .stock_info {
//   animation-name: example;
//   animation-duration: 1s;
// }

.hidden {
  display: none;
}

.displayed {
  display: flex;
}
